* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        #7ed56fd7,
        #28b485d0),
    url(../img/hero-small.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo-box .logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-main {
    display: block;
    letter-spacing: 36px;
    font-weight: 400;
    font-size: 60px;

    animation-name: toLeft;
    animation-duration: 1s;
}

.heading-sub {
    font-weight: 700;
    font-size: 20px;
    display: block;
    letter-spacing: 17.4px;

    animation-name: toRight;
    animation-duration: 1s;
}

@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px); 
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes toRight {
    0% {
        opacity: 0;
        transform: translateX(100px); 
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes toBottom {
    0% {
        opacity: 0;
        transform: translateY(100px); 
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

::selection {
    background-color: #55C57A;
    color: #fff;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s ease;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px) !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active {
    transform: translateY(-1px) !important;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 100px;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .2s;
}

.btn-white {
    background-color: #fff;
    color: #777;
    animation-name: toBottom;
    animation-duration: 1s;
}

.btn-white::after {
    background-color: white;
}

.btn-white:hover::after {
    transform: scale(1.5);
    opacity: 0;
}