$gray: #777;
$gray2: #999;
$footerColor: #333;
$black: #000;
$light-white: #fff;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$light-green: #7ed56f;
$dark-green: #28b485;
$medium-green: #55C57A;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-primary-light: #2998ff;
$color-primary-dark: #5643fa;

$grid-width: 114rem;
$grid-bottom: 8rem;
$grid-bottom-small: 6rem;
$default-size: 1.6rem;