@keyframes toLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes toRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes toBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes popupBox {
    0% {
        transform: scale(1.03) rotate(4deg);
    }
    50% {
        transform: scale(1.1) rotate(4deg);
    }
    70% {
        transform: scale(1.2) rotate(-3deg);
    }
    100% {
        transform: scale(1.08) rotate(1deg);
    }
}