.heading-primary {
    color: $light-white;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &__main {
        display: block;
        letter-spacing: 3.6rem;
        font-weight: 400;
        font-size: 6rem;

        animation-name: toLeft;
        animation-duration: 1s;

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: 3rem;
        }
    }

    &__sub {
        font-weight: 700;
        font-size: 2rem;
        display: block;
        letter-spacing: 1.7rem;

        animation-name: toRight;
        animation-duration: 1s;

        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
    display: inline-block;
    background: linear-gradient(to right, $light-green, $dark-green);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: .2s;
    cursor: pointer;

    &:hover {
        transform: skew(15deg, 2deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color: #000000, $alpha: 0.5);
    }

    @include respond(tablet) {
        font-size: 2.5rem;
    }
    @include respond(phone) {
        font-size: 2rem;
    }
}