.section-about {
    background-color: $color-gray-light-1;
    padding: 25rem 0 25rem 0;
    margin-top: -20vh;

    @include respond(tablet) {
        padding: 20rem 0;
    } 

    .block {
        background-color: $color-gray-light-1;
        display: flex;
        align-items: center;
        flex-direction: column ;
    }
}

.section-feature {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
            #7ed56fd7,
            #28b485d0),
    url(../img/hero-small.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }

    @include respond(tablet) {
        padding: 10rem 0;
    }
}

.section-tours {
    background-color: $color-gray-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;

    @include respond(tablet) {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories {
    padding: 15rem 0;
    position: relative;

    @include respond(tablet) {
        padding: 10rem 0;
    }
}

.section-contact {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,
    #7ed56f,
    #28b485);
}
